.background{
    background-image: url('https://github.com/TheSPIDERshadow/Haem/blob/master/frontend/static/images/haem-07.jpg?raw=true');
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    max-width: 100%;
    height: 100vh;
    padding: 1rem;
}
* {
    box-sizing: content-box;
  }
  .row{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: auto;
  }
  .column {
    display: grid;
    align-items: center;
    height: 200px;
    width: 250px;
    padding: 0 10px;
  }
  .card{
    aspect-ratio: 1/1;
    /* border: 2px solid hotpink; */
    /* height: 250px; */
  }
  .card_content{
    background: white;
    align-self: end;
    /* display: grid; */
    padding: .3rem;
    margin: .3rem;
    box-shadow: 0.2rem 0.25rem rgb(0 0 0 / .1);
  }
  .stacked{
    display: grid;
  }
  .stacked > *{
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .card_img{
    aspect-ratio: 1/1;
    width: 100%;
    object-fit: cover;
  }
  .card_title{
    font-family: Futura;
    font-size: 1rem;
    color:  #6387e0;
  }
  .card_description{
    font-family: Proxima Nova;
    font-size: 0.75rem;
    margin: 0 0 4px;
  }